.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Season Display Styles */
/* ..................................... */

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}

.season-display.autumn i {
  color: brown;
}

.season-display.spring i {
  color: pink;
}

/* Season Styles */
/* ..................................... */
.winter {
  background-color: aliceblue;
}

.summer {
  background-color: yellow;
}

.autumn {
  background-color: orange;
}

.spring {
  background-color: greenyellow;
}
